<p-toast [style]="{ marginTop: '80px' }" aria-live="polite" aria-atomic="true"></p-toast>

<!-- TOP TILES  -->
<div class="p-d-flex maturity-tablur-view p-jc-between">
  @for (item of topTilesData; track item) {
    <div class="p-col-3">
      <div class="data-item p-d-flex p-flex-column p-p-3">
        <div class="item-header p-d-flex p-ai-center p-mb-2">
          <i [class]="'pi ' + item.icon" [style.color]="item.iconColor"></i>
          <span class="item-category p-ml-2">{{ item.category }}</span>
        </div>
        <div class="item-value">{{ item.value }}</div>
        <div class="item-average">{{ item.average }}</div>
      </div>
    </div>
  }
</div>

<div class="kpi-details-table-container p-d-flex p-mx-2">
  <div class="p-col-12">
    <!-- KPI WIDGETS SECTION -->
    <div class="p-grid p-p-0">
      @for (kpi of dynamicKpis; track kpi.kpiId) {
        <div [className]="kpi?.kpiDetail?.kpiWidth === 100 ? 'p-col-12 p-p-2' : 'p-col-6 p-p-2'">
          <app-kpi-card-v2
            [kpiData]="kpi"
            [selectedTab]="selectedTab"
            [loader]="kpiLoader.has(kpi.kpiId)"
            [immediateLoader]="kpi.kpiId !== 'kpi202' && kpi?.kpiDetail?.chartType !== 'stacked-bar-chart'"
            [trendData]="kpiTrendsObj[kpi.kpiId]"
            [trendValueList]="kpiChartData[kpi.kpiId]"
            [kpiDataStatusCode]="kpiStatusCodeArr[kpi.kpiId]"
            [kpiChartData]="kpiChartData[kpi.kpiId]"
            [showChartView]="showChart"
            [trendBoxColorObj]="trendBoxColorObj"
            [kpiTitle]="kpi?.kpiName"
            [filterApplyData]="filterApplyData"
            [colors]="colorObj">
            <ng-container [ngSwitch]="kpi?.kpiDetail?.chartType">
              <ng-container *ngSwitchCase="'stacked-bar-chart'">
                <app-stacked-group-bar-chart
                  [data]="kpiChartData[kpi?.kpiId]"
                  [kpiId]="kpi?.kpiId"
                  [xCaption]="filterApplyData.selectedMap?.['date']?.[0] || kpi?.kpiDetail?.xaxisLabel"
                  [color]="chartColorList">
                </app-stacked-group-bar-chart>
              </ng-container>
              <ng-container *ngSwitchDefault>
                <app-multiline-v2
                  [data]="kpiChartData[kpi?.kpiId]"
                  [kpiId]="kpi?.kpiId"
                  [name]="kpi?.kpiName"
                  [xCaption]="filterApplyData.selectedMap?.['date']?.[0] || kpi?.kpiDetail?.xaxisLabel"
                  [yCaption]="kpi?.kpiDetail?.yaxisLabel"
                  [color]="chartColorList"
                  [selectedtype]="selectedType"
                  [viewType]="showChart"
                  [board]="selectedTab">
                </app-multiline-v2>
              </ng-container>
            </ng-container>
          </app-kpi-card-v2>
        </div>
      }
    </div>
  </div>
</div>

<!-- BOTTOM TREND SECTION -->
<div class="p-d-flex p-py-3 p-flex-wrap p-jc-between p-mx-2">
  @for (items of bottomTilesData; track items; let index = $index) {
    <div class="trend-card p-col-4 p-p-3">
      <div class="trend-card-header p-mb-3">
        <h3 class="trend-card-title">{{ items.category }}</h3>
      </div>
      @if(items.value.length) {
        <div class="trend-items-container">
          @for (item of items.value; track item) {
            <div class="trend-item p-d-flex p-ai-center">
              <div class="trend-content">
                <span class="trend-label">{{ item.property }}</span>
                <div class="trend-value-container">
                  <div class="trend-icon">
                    @if(items.icon) {
                      <i class="pi {{ items.icon }}" [style.color]="items.color"></i>
                    }
                  </div>
                  <span class="trend-value" [style.color]="items.color">
                    {{ item.value }}
                  </span>
                </div>
              </div>
            </div>
          }
        </div>
      } @else {
        <div class="p-d-flex p-flex-column p-align-center">
          <img alt="no-data" src="assets/img/NoDataFound.svg" />
          <h4>No Data Available.</h4>
        </div>
      }
    </div>
  }
</div>
