<div class="p-d-flex data-item p-mt-3 p-mb-1 p-py-4 p-px-6">
  <div class="icon-container">
    <div class="icon" [ngClass]="item.cssClassName" [ngStyle]="{'color': item.valueColor}">
      <span *ngIf="item?.iconType === 'pi'" class="pi" [ngClass]="item.icon" aria-hidden="true" style="font-size: 2.5rem"></span>
      <span *ngIf="item?.iconType === 'fa'"  class="fas" [ngClass]="item.icon" aria-hidden="true" style="font-size: 2.5rem"></span>
    </div>
  </div>
  <div class="data">
    <p class="tabularKPI-column-header" tabindex="0">
      {{ item.category }}
    </p>
    <div class="p-d-flex">
      <p class="tabularKPI-column-value p-mt-0 p-mr-2" tabindex="0" [ngStyle]="{'color': item.valueColor}">
        {{ item.value?.toString().startsWith('-') ? '- ' + item.value?.toString().substring(1) : item.value }}
        {{
        item.average && item.average !== 'N/A'
        ? '(' + item.average + ')'
        : ''
        }}
      </p>
    </div>
  </div>
</div>