<div class="kpi-card-container">
  <div class="kpi-card-header p-pr-5 p-pl-3 p-jc-between">
    <div class="kpi-card-name-placeholder" role="region" aria-label="KPI Card Header">
      <div class="kpi-card-title-container">
        <h3 tabindex="0" [attr.aria-label]="'KPI Details'">Next Best Actions</h3>
      </div>
    </div>
  </div>

  <div class="kpi-card-body">
    <p class="nba-subtitle">
      Top recommendations to improve efficiency and quality:
    </p>

    <div class="nba-cards">
    <!-- <app-home-recomm-card
      priority="Low"
      category="Enterprise"
      title="Standardize Code Review"
      description="Reduce rework by 40%"
      savings="$20,130">
    </app-home-recomm-card>  -->

    <app-home-recomm-card
      *ngFor="let item of recommendations"
      [priority]="item.priority"
      [title]="item.title"
      [description]="item.description"
      [category]="item.category"
      [savings]="item.potentialSavings"
         (handleProjectClick)="openProjectDetailsPopup()"
    ></app-home-recomm-card>

    </div>

  </div>
</div>

<p-dialog [(visible)]="displayModal" [modal]="true" [draggable]="true" [resizable]="true" (onHide)="displayModal=false" role="dialog"
  #templateOfReference tabindex="0" aria-labelledby="dialogHeader">
  <p-header id="dialogHeader">
    <div>
      <div>
        Project Name
      </div>
      <div class="export-button">
        <span class="kpi-chip">name</span>
      </div>
    </div>
  </p-header>

  <div class="dialog-body p-mb-4" style="max-width: 35vw;">
    <app-recomm-details benefit="$24,156" implementation="Medium" timeToValue="3–4 months"
      [kpis]="['Development Speed', 'Code Quality', 'Bug Reduction']" [actionPlan]="[
   { step: 1, title: 'Assess Current State', description: 'Evaluate existing technical debt and team readiness' },
   { step: 2, title: 'Pilot Implementation', description: 'Start with a small team to validate approach and ROI' },
   { step: 3, title: 'Scale Across Organization', description: 'Roll out successful practices to all relevant teams' }
 ]"></app-recomm-details>
  </div>
</p-dialog>