.generic-filter-container {
  width: 100%;
}

.filter-item {
  padding: 8px;
}

.filter-item-selected {
  padding: 4px;
  font-size: 0.75rem;
}

.floating-label {
  font-size: 12px;
}

:host::ng-deep.p-multiselect .p-multiselect-label {
  font-size: 0.75rem;
}
