<div class="dashboard-container" style="position: relative; min-height: 100vh;">
  <!-- Loading overlay for entire PEB component -->
  @if(isLoadingPebData) {
    <div style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: rgba(255, 255, 255, 0.9); z-index: 9999; display: flex; align-items: center; justify-content: center; backdrop-filter: blur(2px);">
      <div style="text-align: center;">
        <i class="pi pi-spin pi-spinner" style="font-size: 4rem; color: #0b4bc8;"></i>
      </div>
    </div>
  }
  @if(!isLoadingPebData) {
  <div class="p-d-flex p-p-2 p-jc-between">
    <div class="p-col-3 p-mb-2">
        <app-top-tiles [item]="{
          cssClassName: 'speed',
          category: 'Speed',
          value: (categoryVariations?.speed ? categoryVariations?.speed + '%' : 'N/A'),
          icon: 'fas fa-bolt',
          average: '',
          valueColor: '#15ba40',
          iconType : 'fa'
        }"></app-top-tiles>
      </div>
      <div class="p-col-3 p-mb-2">
        <app-top-tiles [item]="{
          cssClassName: 'users',
          category: 'Efficiency',
          value: (categoryVariations?.efficiency ? categoryVariations?.efficiency + '%' : 'N/A'),
          icon: 'fas fa-chart-line',
          average: '',
          valueColor: '#0b4bc8',
          iconType : 'fa'
        }"></app-top-tiles>
      </div>
      <div class="p-col-3 p-mb-2">
        <app-top-tiles [item]="{
          cssClassName: 'users',
          category: 'Quality',
          value: (categoryVariations?.quality ? categoryVariations?.quality + '%' : 'N/A'),
          icon: 'fas fa-shield-alt',
          average: '',
          valueColor: '#9810fa',
          iconType : 'fa'
        }"></app-top-tiles>
      </div>
      <div class="p-col-3 p-mb-2">
        <app-top-tiles [item]="{
          cssClassName: 'productivity',
          category: 'Productivity',
          value:  (categoryVariations?.productivity ? categoryVariations?.productivity + '%' : 'N/A'),
          icon: 'fas fa-bullseye',
          average: '',
          valueColor: '#ff5c5d',
          iconType : 'fa'
        }"></app-top-tiles>
      </div>
  </div>
  <div class="p-d-flex p-flex-wrap">
    <div class="p-col-4">
      <p-card class="p-mb-3 peb-calculator-card">
        <div class="p-px-4 calculator-header">
          <i class="fas fa-calculator text-blue"></i>
          <span class="calculator-header-label p-ml-2">Potential Economic Benefits Calculator</span>
        </div>
        <form [formGroup]="pebForm" class="peb-form" (ngSubmit)="calculatePEB()">
          <div class="p-d-flex p-flex-wrap">
            <div class="p-col-4 grid-flex-wrap-100">
              <div class="p-col-12 p-d-flex p-align-center">
                <label for="devCount">Total Team Size</label>
                <img class="info-icon" alt="info" src="../../../assets/img/Info.svg" aria-hidden="true"
                    pTooltip="You can edit the no. of developers" tooltipPosition="top">
              </div>
              <div class="p-col-12">
                <p-inputNumber class="input-field-calc" formControlName="devCountControl" inputId="devCount"
                  (onInput)="onInputChange('devCountControl', $event)" ngDefaultControl></p-inputNumber>
              </div>
              <div class="p-col-12">
                <p-slider formControlName="devCountControl" class="w-full" [step]="10" [min]="10" [max]="300"
                  (onChange)="onSliderChange('devCountControl', $event)" ngDefaultControl></p-slider>
              </div>
            </div>
            <div class="p-col-4 grid-flex-wrap-100">
              <div class="p-col-12 p-d-flex p-align-center">
                <label for="devCost">Avg. Cost per Team Member </label>
                <img class="info-icon" alt="info" src="../../../assets/img/Info.svg" aria-hidden="true"
                    pTooltip="You can edit the avg cost per developer" tooltipPosition="top">
              </div>
              <div class="p-col-12">
                <p-inputNumber class="input-field-calc" formControlName="devCostControl" inputId="devCost"
                  mode="currency" [currency]="userCurrency" [locale]="userLocale"
                  (onInput)="onInputChange('devCostControl', $event)" ngDefaultControl></p-inputNumber>
              </div>
            </div>
            <div class="p-col-12">
              <p-slider formControlName="devCostControl" class="w-full" [step]="100" [min]="100000" [max]="500000"
                (onChange)="onSliderChange('devCostControl', $event)" ngDefaultControl></p-slider>
            </div>
          </div>
          <div class="grid-flex-wrap-100">
            <div class="p-col-12">
              <label for="duration">Time Duration</label>
            </div>
            <div class="p-col-12">
              <p-dropdown id="duration" class="input-field-calc" [options]="durationOptions"
                formControlName="durationControl" placeholder="Time Duration" ngDefaultControl></p-dropdown>
            </div>
          </div>

          <div class="p-col-12">
            <button pButton type="submit" label="Calculate PEB" class="calc-btn"></button>
          </div>
        </form>
        @if (isError) {
        <p-messages severity="error">
          <ng-template pTemplate>
            <i class="pi pi-exclamation-circle" style="font-size: 2rem"></i>
            <div class="p-ml-3">
              {{ errorMessage }}
            </div>
          </ng-template>
        </p-messages>
        }
      </p-card>
    </div>
    <div class="p-col-8">
      <p-card class="p-mb-3 peb-calculator-card">
        <div class="p-px-4 calculator-header">
          <i class="fas fa-user-friends text-blue"></i>
          <span class="calculator-header-label p-ml-2">Standings</span>
          <small class="tag beta">BETA</small>
        </div>
        @if(showLoader) {
          <div class="p-d-flex p-justify-center p-align-center" style="min-height: 300px;">
            <i class="pi pi-spin pi-spinner" style="font-size: 3rem; color: #0b4bc8;"></i>
          </div>
        } @else {
          <div>
            <div class="p-d-flex p-flex-wrap">
              <div class="p-col-6 p-mb-2 p-p-2">
                <div class="p-text-center border border-round">
                  <h5 class="heading">Total Savings</h5>
                  <p class="text-blue font-bold text-2xl p-mt-0"> {{ annualPEB | dynamicCurrency}}</p>

                </div>
              </div>
              <div class="p-col-6 p-mb-2 p-p-2">
                <div class="p-text-center border border-round">
                  <h5 class="heading">Active Projects</h5>
                  <p class="text-purple font-bold text-2xl p-mt-0">{{ items.length }}</p>
                </div>
              </div>
            </div>
            <p-table [value]="items" [tableStyle]="{ 'min-width': '50rem' }" [scrollable]="true" scrollHeight="400px"
              *ngIf="items.length">
              <ng-template pTemplate="header">
                <tr>
                  <th></th>
                  <th style="width: 30%;" class="p-text-left">{{ items[0]?.levelName }}</th>
                  <th style="width: 30%;" class="p-text-right">Projected Cost Savings ({{1 | dynamicCurrency:'symbol'}})</th>
                  <th></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item>
                <tr>
                  <td></td>
                  <td style="width: 30%;" class="p-text-left">{{ item?.organizationEntityName }}</td>
                  <td style="width: 30%;" class="p-text-right">{{ item.categoryScores.overall | dynamicCurrency:'value'}}</td>
                  <td></td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        }
      </p-card>
    </div>
  </div>
  <!-- @if (showResults) { -->
  <!-- <p-card class="p-mb-3 executive-summary-card">
    <div class="exec-title p-mb-4 p-px-3">Executive Summary</div>
    <div class="roi-impact-title p-mb-4 p-px-3">
      <span class="green-text pi pi-dollar"></span> Expected ROI Impact
    </div>
    <div class="p-grid metric-row p-px-3">
      @for (roi of roiMetrics; track roi.label) {
      <div class="p-col-3 grid-flex-wrap-50">
        <div class="roi-card p-d-flex p-flex-column" [ngStyle]="{
            background: roi.color
          }">
          <span [class]="roi.icon + ' roi-icon'" class="item" [ngStyle]="{ color: roi.elemColor }"></span>
          <div class="roi-label item">{{ roi.label }}</div>
          <div class="roi-percent item" [ngStyle]="{ color: roi.elemColor }">
            {{ roi.percent }}%
          </div>
        </div>
        <div class="center-text p-mt-5 p-mb-2">
          <div class="small-text">{{ roi.estValueSavingsLabel }}</div>
          <div class="est-value">
            <strong>{{ roi.value | currency : 'USD' }}</strong>
          </div>
        </div>
      </div>
      }
    </div>
    <p-divider></p-divider>
    <div class="overall-benefit center-text p-mt-6 p-px-3">
      <div class="p-mb-2">
        <strong>Overall Potential Economic Benefit</strong>
      </div>
      <div class="benefit-value blue-text">
        {{ annualPEB | currency : 'USD' }}
      </div>
      <div class="p-mt-2 small-text">Sum total of all cost savings above</div>
    </div>
  </p-card> -->



  <!-- THIS SECTION IS COMMENTED FOR FUTURE IMPLEMENTATION -->
  <!-- <p-card class="colored-card-block">
      <div class="ai-section-title">Additional Cost Savings from AI Adoption <i class="pi pi-sparkles"></i></div>
      <div class="colored-card-block_container p-p-3">
        <div class="ai-comparison-title center-text p-my-3"><strong>Current vs AI-Assisted Development</strong></div>
        <div class="p-grid mb-2 dev-comparison">
          <div class="p-col-6">
            <div class="dev-current-bar gray-bar"><span class="bar-percent">Current</span></div>
            <div class="mb-1">Traditional Methods</div>
          </div>
          <div class="p-col-6">
            <div class="dev-ai-bar blue-bar"><span class="bar-percent">+22%</span></div>
            <div class="mb-1">AI-Enhanced</div>
          </div>
        </div>
        <div class="ai-summary center-text p-p-5">
          <div class="p-my-3"><span class="bold-text">80% AI recommendation adoption</span> could yield an additional</div>
          <div class="p-my-3"><span class="ai-value blue-text">{{aiBenefit | currency:'USD'}}</span></div>
          <div class="p-my-3">in potential economic benefits through AI-assisted development practices.</div>
        </div>
        <div class="p-mt-5 p-mb-3 small-text center-text">AI adoption estimates based on industry benchmarks and your organizational parameters</div>
      </div>
    </p-card> -->
  <!-- } -->
  <div class="p-col-12">
    <p-card class="p-mb-3 peb-calculator-card">
      <div class="p-px-4 calculator-header">
        <i class="far fa-chart-bar text-blue"></i>
        <span class="calculator-header-label p-ml-2">Performance Tracking Over Time</span>
      </div>

      <div class="p-d-flex">
        <div class="p-col-6">
          <div class="p-2">
            <h4>Core Performance Metrics</h4>
            <ng-container *ngIf="performanceChartData?.length else noDataAccess">
              <app-cumulative-line-chart [data]="performanceChartData" [filters]="[]" [xCaption]="xAxisLabel"
                [yCaption]="'Performance'">
              </app-cumulative-line-chart>
            </ng-container>
          </div>
        </div>
        <div class="p-col-6">
          <div class="p-2">
            <h4>Cost Savings Trend</h4>
            <ng-container *ngIf="costSavingsChartData?.length else noDataAccess">
              <app-cumulative-line-chart [data]="costSavingsChartData" [filters]="[]" [xCaption]="xAxisLabel"
                [yCaption]="'Cost Savings'">
              </app-cumulative-line-chart>
            </ng-container>

          </div>
        </div>
        <ng-template #noDataAccess>
          <div class="min-ht">
            <div class="p-w-100  p-d-flex p-justify-center">
              <img alt="no-data" src="../../../assets/img/NoDataFound.svg" />
            </div>
            <div class="p-w-100">
              <h4 class="p-text-center">No Data Available.</h4>
            </div>
          </div>
        </ng-template>
      </div>
    </p-card>
  </div>
  }
</div>
<app-chatbot></app-chatbot>
