<div class="ai-recommendation-card">
  <div class="card-content">
    <div class="header-section">
      <div class="ai-icon"></div>
      <span class="title">AI Recommendations</span>
    </div>
    
    <div class="target-section">
      <span class="next-sprint">Next Target: </span>
      <span class="target-value">{{ targetValue }}</span>
      <!-- <span class="improvement">({{ improvement }} {{ improvementLabel }})</span> -->
    </div>
    
    <div class="action-section">
      <span class="action-link" (click)="onViewPlanClick()">Click to view Recommended Next Actions</span>
    </div>
  </div>
</div>

<p-dialog [(visible)]="displayAiRecommModal" [modal]="true" [draggable]="true" [resizable]="true" 
  (onHide)="displayAiRecommModal=false" role="dialog" tabindex="0" 
  [style]="{'min-width': '35vw' , 'max-width': '40vw'}">
  <p-header>
    <div>
      <div>
        AI Recommended Next Actions
      </div>
      <div class="export-button">`
        <span class="kpi-chip">{{kpiData?.kpiDetail?.kpiName}}</span>
      </div>
    </div>
  </p-header>

  <div class="dialog-body p-mb-4">
    <app-recomm-details 
      [infoBoxes]="selectedRecommendation?.infoBoxes"
      [kpis]="selectedRecommendation?.kpis" 
      [actionPlan]="selectedRecommendation?.actionPlan"
      [kpiSectionTitle]="selectedRecommendation?.kpiSectionTitle"
      [actionPlanTitle]="selectedRecommendation?.actionPlanTitle"
      [showAiRationale]="false"
      [aiRationaleTitle]="'AI Analysis'"
      [aiRationaleDescription]="selectedRecommendation?.aiRationaleDescription">
    </app-recomm-details>
  </div>
</p-dialog>