<div class="container-recommendations">
  <div class="img-container" (click)="handleClick()">
    <img
      src="../../../assets/img/ico-recommendations.svg"
      alt="Recommendations"
    />
  </div>
</div>
<p-dialog
  [(visible)]="displayModal"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  aria-labelledby="dialogTitle"
  (onShow)="focusDialogHeader()"
  (onHide)="onDialogClose()"
  [header]="getDialogHeader()"
>
  <div *ngIf="!aiRecommendations">
    <p-header>
      <div id="dialogTitle">Recommendations for Optimising KPIs</div>
      <h5 class="p-m-0" *ngIf="selectedSprint">
        Sprint: {{ selectedSprint?.nodeName }}
      </h5>
      <h5 class="p-m-0 red" *ngIf="!selectedSprint">No Sprint Available</h5>
    </p-header>
    <div class="dialog-body p-mb-4">
      <p-tabView *ngIf="!noRecommendations">
        <p-tabPanel
          *ngFor="let tab of tabs"
          [header]="tab"
          [headerStyleClass]="'tab-' + tab.split(' ').join('-')?.toLowerCase()"
        >
          <p-table
            #dt1
            [value]="tabsContent[tab]"
            dataKey="tab"
            [loading]="loading"
            [tableStyle]="{ 'min-width': '70rem' }"
            [globalFilterFields]="['kpiName', 'maturity']"
            class="p-mt-3"
          >
            <ng-template pTemplate="header">
              <tr class="table-heading">
                <th id="kpiName">KPI Name</th>
                <th id="maturity">Maturity Level</th>
                <th id="recommendation">Recommendation</th>
                <th id="details">Details</th>
              </tr>
              <tr>
                <th>
                  <input
                    pInputText
                    [id]="kpiName"
                    type="text"
                    class="p-column-filter"
                    (input)="
                      dt1.filter($event.target.value, 'kpiName', 'contains')
                    "
                    [style]="{ width: '100%' }"
                    placeholder="Search"
                  />
                </th>
                <th>
                  <p-columnFilter
                    field="maturity"
                    matchMode="in"
                    [showMenu]="false"
                  >
                    <ng-template
                      pTemplate="filter"
                      let-value
                      let-filter="filterCallback"
                    >
                      <p-multiSelect
                        [ngModel]="value"
                        [options]="maturities"
                        placeholder="Select maturity"
                        (onChange)="filter($event.value)"
                        optionLabel="name"
                        optionValue="value"
                      >
                        <ng-template let-option pTemplate="item">
                          <div class="inline-block vertical-align-middle">
                            <span class="ml-1 mt-1">{{ option.name }}</span>
                          </div>
                        </ng-template>
                      </p-multiSelect>
                    </ng-template>
                  </p-columnFilter>
                </th>
                <th></th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
              <tr>
                <td>{{ item.kpiName }}</td>
                <td
                  [ngClass]="{
                    m1: item.maturity == 1,
                    m2: item.maturity == 2,
                    m3: item.maturity == 3,
                    m4: item.maturity == 4,
                    m5: item.maturity == 5
                  }"
                >
                  <span class="maturity-level">
                    {{ item.maturity ? 'M' + item.maturity : 'NA' }}
                  </span>
                </td>
                <td><span [innerHTML]="item.recommendationSummary"></span></td>
                <td><span [innerHTML]="item.recommendationDetails"></span></td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td [attr.colspan]="4">No records found</td>
              </tr>
            </ng-template>
          </p-table>
        </p-tabPanel>
      </p-tabView>
      <div *ngIf="noRecommendations" class="p-pt-4">
        There are no recommendations available for the selected sprint.
      </div>
    </div>
  </div>

  <div *ngIf="aiRecommendations">
    <!-- <div class="p-fluid p-mb-6" *ngIf="!isLoading && !isReportGenerated"> -->
    <div class="p-fluid p-mb-6" *ngIf="!isLoading && !isReportGenerated">
      <h4
        id="pageTitle"
        class="p-text-center p-mt-6 p-mb-4"
        tabindex="0"
        style="font-size: 1.1rem;"
      >
        Generate AI recommendations based on KPI’s and other data points
      </h4>
      <h3
        class="p-text-center p-mb-8"
        style="font-size: 1.5rem;"
      >
        <strong>{{currentProjectName}}</strong>
      </h3>

      <div
        class="p-field"
        role="group"
        aria-labelledby="roleLabel"
        aria-describedby="roleDesc"
        style="
          width: 450px;
          margin: 2.5rem auto;
          padding-bottom: 3rem;
          border-bottom: 1px solid #d5dbe1;
        "
      >
        <label
          id="roleLabel"
          for="roleDropdown"
          class="p-d-block p-mb-4"
          style="background-color: transparent;"
        >
          <strong>Report tailored for:</strong>
        </label>
        <p id="roleDesc" class="p-d-block p-mb-4" style="color: #202429">
          We will customise the report so it’s useful for your analysis
        </p>
        <p-dropdown
          inputId="roleDropdown"
          [options]="roleOptions"
          placeholder="Please select your role"
          aria-labelledby="roleLabel"
          aria-describedby="roleDesc"
          [showClear]="true"
          appendTo="body"
          styleClass="p-inputtext p-p-0"
          (onChange)="onRoleChange($event)"
          [(ngModel)]="selectedRole"
        ></p-dropdown>
      </div>

      <div
        class="p-field"
        role="group"
        aria-labelledby="sprintLabel"
        aria-describedby="sprintDesc"
        style="width: 450px; margin: 2.5rem auto"
      >
        <label
          id="sprintLabel"
          for="sprintDropdown"
          class="p-d-block p-mb-4"
          style="background-color: transparent;"
        >
          <strong>Sprints:</strong>
        </label>
        <p id="sprintDesc" class="p-d-block p-mb-4" style="color: #202429">
          Select sprints for analysis
        </p>
        <p-multiSelect
          inputId="sprintDropdown"
          [options]="sprintOptions"
          [(ngModel)]="selectedSprints"
          defaultLabel="Select Sprints"
          optionLabel="name"
          selectedItemsLabel="{0} items selected"
          placeholder="Select sprint"
          aria-labelledby="sprintLabel"
          aria-describedby="sprintDesc"
          [showClear]="true"
          appendTo="body"
          styleClass="p-inputtext p-p-0"
          (onChange)="onSprintsSelection($event.value)"
        ></p-multiSelect>
      </div>
    </div>

    <!-- <div class="generating-recommendations" *ngIf="isLoading"> -->
    <div class="generating-recommendations" *ngIf="isLoading">
      <div class="loading-screen">
        <img
          src="../../../assets/img/generated-ai.png"
          alt="loading"
          [style]="{ width: '25%' }"
          class="fade-animation"
        />
        <h3 class="p-mt-0 p-mb-6">Now we are generating your report</h3>
      </div>
    </div>

    <!-- <div class="p-fluid generated-report-container" *ngIf="isReportGenerated"> -->
    <div class="p-fluid generated-report-container" *ngIf="isReportGenerated">
      <h3
        class="p-text-center p-mb-5"
        style="font-size: 1.6rem"
      >
        <strong>{{currentProjectName}}</strong>
      </h3>
      <section class="p-my-5 p-d-flex p-jc-between">
        <div><strong>Customised for:</strong> {{formattedPersona[0]['label']}}</div>
        <div><strong>Date generated:</strong> {{currentDate}}</div>
        <!-- <div></div> -->
      </section>

      <section class="p-my-4 p-p-6 summary-section">
        <h2 class="p-mt-0">Overall Summary</h2>
        <article class="generated-report-container">
          <div class="p-d-flex p-ai-center p-jc-between p-mb-2">
            <strong>Project Health</strong>
            <strong>{{projectScore}}%</strong>
          </div>
          <p-progressBar [value]="projectScore" [style]="{ height: '10px', borderRadius: '5px' }"></p-progressBar>
        </article>
      </section>

      <article class="ai-nudges">
        <h2 class="p-mt-6">AI Nudges <img src="../../../assets/img/ico-recommendations.svg" alt="Recommendations" style="width: 30px;" /></h2>
        <ol class="p-pb-2 p-mb-2" style="max-height: 300px; overflow-y: auto">
          <li class="p-mb-2 p-pb-2 ai-nudges-list" *ngFor="let recommendation of recommendationsList">
            <p><span class="p-px-2 p-py-1 p-mr-2 priority-chip"><span class="severity rounded p-mr-2" [ngClass]="getCleanRecommendationType(recommendation.recommendationType)"></span>{{ getCleanRecommendationType(recommendation.recommendationType) | uppercase }}</span> <strong>Recommendation: </strong> {{ getCleanRecommendationType(recommendation.recommendationDetails) }}</p>
          </li>
        </ol>
      </article>
    </div>

    <div class="dialog-footer p-py-5">
      <p-button
        (click)="displayModal = false; resetSelections()"
        label="Cancel"
        styleClass="p-button-outlined p-button-text"
      ></p-button>
      <p-button
        label="Generate Report"
        styleClass="p-button p-ml-4"
        aria-label="Generate Report dialog"
        [disabled]="!(isRoleSelected && isSprintSelected)"
        (click)="generateSprintReport()"
        *ngIf="!isLoading && !isReportGenerated"
      ></p-button>
    </div>
  </div>
</p-dialog>
