.img-container {
  position: fixed;
  bottom: 10px;
  right: 65px;
  height: 70px;
  width: 70px;
  border: 2px solid #000;
  border-radius: 50px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
}
:host ::ng-deep .p-tabview-panel {
  margin: 1rem 0 0 0;
}
:host ::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link {
  border-radius: 10px;
  padding: 0.8rem 1rem;
  color: #000;
}
:host
  ::ng-deep
  .p-tabview
  .p-tabview-nav
  li.tab-warnings
  .p-tabview-nav-link:hover,
:host
  ::ng-deep
  .p-tabview
  .p-tabview-nav
  li.tab-warnings.p-highlight
  .p-tabview-nav-link {
  background: #f68605;
}
:host
  ::ng-deep
  .p-tabview
  .p-tabview-nav
  li.tab-good-practices
  .p-tabview-nav-link:hover,
:host
  ::ng-deep
  .p-tabview
  .p-tabview-nav
  li.tab-good-practices.p-highlight
  .p-tabview-nav-link {
  background: #15ba40;
}
:host
  ::ng-deep
  .p-tabview
  .p-tabview-nav
  li.tab-critical
  .p-tabview-nav-link:hover,
:host
  ::ng-deep
  .p-tabview
  .p-tabview-nav
  li.tab-critical.p-highlight
  .p-tabview-nav-link {
  background: #fe414d;
}
/* :host ::ng-deep .p-tabview .p-tabview-nav li.tab-good-practices .p-tabview-nav-link{
    background: #15BA40;
}
:host ::ng-deep .p-tabview .p-tabview-nav li.tab-critical .p-tabview-nav-link{
    background: #FE414D;
} */
.text-recommendations {
  position: absolute;
  display: none;
  padding: 10px 20px;
  background: #fff;
  border: 2px solid #000;
  animation: reveal 0.3s linear;
  z-index: -1;
  right: 91%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: 0;
}
.img-container:hover .text-recommendations {
  display: block;
}
@keyframes reveal {
  0% {
    right: 50%;
    opacity: 0;
  }
  100% {
    right: 91%;
    opacity: 1;
  }
}
:host ::ng-deep .p-datatable .p-datatable-thead > tr.table-heading > th {
  background: #eee;
}
/* .maturity-level{
    border: 1px solid #aaa;
    padding: 3px 8px;
    border-radius: 3px;
} */
.maturity-indicator {
  width: 10px;
  height: 10px;
  background: #fe414d;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px 0 0;
}
.m2 .maturity-indicator {
  background: #fbcf5f;
}
.m3 .maturity-indicator {
  background: #f68605;
}
.m4 .maturity-indicator {
  background: #15ba40;
}
.m5 .maturity-indicator {
  background: #d38eec;
}
:host ::ng-deep .p-dialog {
  width: 75vw !important;
}
.red {
  color: var(--color-red);
}

.dialog-footer {
  border-top: 1px solid #d5dbe1;
  text-align: center;
}

:host ::ng-deep .p-button {
  background: #0b4bc8;
  border-radius: 10px;
}

:host ::ng-deep .p-button-outlined {
  background: #fff;
  color: #0b4bc8;
  border-radius: 10px;
}

:host ::ng-deep .p-button:enabled:focus,
:host ::ng-deep .p-button-outlined:enabled:focus-visible {
  outline: 3px solid #0b4bc8;
}

.loading-screen {
  text-align: center;
}

.priority-chip {
  border: 1px solid #d5dbe1;
  border-radius: 5px;
}

.severity {
  width: 8px;
  height: 8px;
  background-color: #acb4cb;
  display: inline-block;
  vertical-align: middle;
}

.severity.critical {
  background-color: #fe414d;
}
.severity.high {
  background-color: #f68605;
}
.severity.medium {
  background-color: #fbcf5f;
}
.severity.low {
  background-color: #15ba40;
}

.ai-nudges-list {
  border-bottom: 1px solid #d5dbe1;
}
.ai-nudges-list:last-child {
  border-bottom: none;
}

.ai-nudges-list p {
  line-height: 2;
}

:host ::ng-deep .p-progressbar .p-progressbar-value {
  background: #0b4bc8;
}

:host ::ng-deep .generated-report-container {
  width: 80%;
  margin: 0 auto;
}

@keyframes fadeInOut {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

:host ::ng-deep .fade-animation {
  animation: fadeInOut 2s infinite ease-in-out;
}

:host ::ng-deep .summary-section,
:host ::ng-deep .ai-nudges,
:host ::ng-deep .share-email-container {
  border-radius: 20px;
  border: 1px solid #d5dbe1;
}

.asterisk {
  color: #fe414d;
}

.recommendation-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.priority-chip {
  flex: 0 0 95px;
  display: flex;
  align-items: center;
}

.details-column {
  flex: 1;
}

.loading-container {
  min-height: 400px;
}
