:host ::ng-deep .p-inputtext {
  font-size: 0.75rem;
}

:host ::ng-deep .p-dropdown {
  border: 1px solid #d5dbe1;
}

.floating-label {
  text-transform: capitalize;
}

::ng-deep .p-dropdown-item .inactive-projects {
  font-style: italic;
  color: var(--color-gray-9e);
  opacity: 0.6;
}
