<p-toast
  [style]="{ marginTop: '80px' }"
  aria-live="polite"
  role="status"></p-toast>

<div class="p-d-flex p-jc-center p-ai-center p-mt-4">
</div>

<div class="p-d-flex p-jc-center p-ai-center p-mt-4">
  <div class="p-card p-p-0 kpi-card-container-wrapper">
    <div class="p-card-content p-p-0">
      <app-kpi-card-v2
        [kpiData]="kpiSettingsForTable"
        [tableData]="kpiTableData"
        [loader]="false"
        [immediateLoader]="false"
        [tableColumns]="kpiTableColumns">
      </app-kpi-card-v2>
    </div>

  </div>
</div>
