<p-toast
  [style]="{ marginTop: '80px' }"
  aria-live="polite"
  role="status"></p-toast>

<div class="p-d-flex p-jc-center p-ai-center p-mt-4">
</div>

<div class="p-d-flex p-jc-center p-ai-center p-mt-4">
  <div class="p-card p-p-0 kpi-card-container-wrapper">
      <div class="p-card-content p-p-0">
          <app-kpi-card-v2 #kpiCard
                  [kpiData]="kpiSettingsForTable"
                  [loader]="false"
                  [immediateLoader]="false">
              <app-dynamic-kpi-table
                      kpiTable
                      [tableData]="kpiTableData"
                      [projectHeaders]="projectHeaders"
                      [subColumns]="subColumns"
                      [baseColumnHeader]="baseColumnHeader"
                      [summary]="summaryDisplayData"
                      (onProjectSettingsClick)="openProjectSettings($event)">
              </app-dynamic-kpi-table>
          </app-kpi-card-v2>
      </div>

  </div>
</div>
